<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GestionCommandesWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <description></description>
    <display-name>SearchForm</display-name>
    <servlet-name>SearchForm</servlet-name>
    <servlet-class>SearchForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchForm</servlet-name>
    <url-pattern>/SearchForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchClientForm</display-name>
    <servlet-name>SearchClientForm</servlet-name>
    <servlet-class>SearchClientForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchClientForm</servlet-name>
    <url-pattern>/SearchClientForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActionEntite</display-name>
    <servlet-name>ActionEntite</servlet-name>
    <servlet-class>ActionEntite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionEntite</servlet-name>
    <url-pattern>/ActionEntite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dispatcher</display-name>
    <servlet-name>Dispatcher</servlet-name>
    <servlet-class>Dispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dispatcher</servlet-name>
    <url-pattern>/Dispatcher</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>ArticleForm</display-name>
    <servlet-name>ArticleForm</servlet-name>
    <servlet-class>ArticleForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleForm</servlet-name>
    <url-pattern>/ArticleForm</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>ClientForm</display-name>
    <servlet-name>ClientForm</servlet-name>
    <servlet-class>ClientForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientForm</servlet-name>
    <url-pattern>/ClientForm</url-pattern>
  </servlet-mapping>
</web-app>