<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GestionCommandesWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ValidForm</display-name>
    <servlet-name>ValidForm</servlet-name>
    <servlet-class>ValidForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidForm</servlet-name>
    <url-pattern>/ValidForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchForm</display-name>
    <servlet-name>SearchForm</servlet-name>
    <servlet-class>SearchForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchForm</servlet-name>
    <url-pattern>/SearchForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActionArticle</display-name>
    <servlet-name>ActionArticle</servlet-name>
    <servlet-class>ActionArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionArticle</servlet-name>
    <url-pattern>/ActionArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dispatcher</display-name>
    <servlet-name>Dispatcher</servlet-name>
    <servlet-class>Dispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dispatcher</servlet-name>
    <url-pattern>/Dispatcher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletActionArticle</display-name>
    <servlet-name>ServletActionArticle</servlet-name>
    <servlet-class>ServletActionArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletActionArticle</servlet-name>
    <url-pattern>/ServletActionArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleForm</display-name>
    <servlet-name>ArticleForm</servlet-name>
    <servlet-class>ArticleForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleForm</servlet-name>
    <url-pattern>/ArticleForm</url-pattern>
  </servlet-mapping>
</web-app>